<!-- <div class="row">
  <div class="col-lg-4" id="about-cse-logo">
  </div>
  <div class="col-lg-4" id="about-cse-logo">
		<a href="http://www.cs.washington.edu/node/3535/"><img src="/assets/images/cse.png" height="150"></a>
  </div>
  <div class="col-lg-4" id="about-cse-logo">
  </div>
</div> -->

<div class="row" id="middle_section">
	<div class=jumbotron >
		<h2>What is PraxEng ?</h2>
		<p>PraxEng is free website to practice your English reading and comprehension skills. It tests you on interesting news stories and so you learn a new fact everytime you answer a question. PraxEng gives you personalized feedback in terms of score and how well you did compared to other people.</p>
		
		<p>This website is a part of a research project by <a href="http://www.cs.washington.edu/people/faculty/weld/" target="_blank">Prof Daniel S. Weld</a>, <a href="http://www.cs.washington.edu">Computer Science & Engineering </a> at the <a href="http://www.uw.edu">University of Washington</a>.
			So you not just improve your skills but also contribute to real research.</p>
			
	</div>
	<div class="col-sm-10 col-sm-offset-1">
	  <div class="col-sm-4">
	    <div class="thumbnail">
	      <img src="/assets/images/practice.png" alt="...">
	      <div class="caption">
	        <h3 class="heading">PRACTICE</h3>
	        <p>PraxEng helps you improve your English comprehension and reading skills.</p>
	      </div>
	    </div>
	  </div>
		
	  <div class="col-sm-4">
	    <div class="thumbnail">
	      <img src= "/assets/images/learn-facts.png">
	      <div class="caption">
	        <h3 class="heading">LEARN</h3>
	        <p>Practice on interesting news stories and learn new facts.</p>
	      </div>
	    </div>
	  </div>
	
	  <div class="col-sm-4">
	    <div class="thumbnail">
	      <img src="/assets/images/game.png" alt="...">
	      <div class="caption">
	        <h3 class="heading">LEARN WITH OTHERS</h3>
	        <p>Compare yourself against your friends and other people all around the world.</p>
	      </div>
	    </div>
		</div>
	</div>
</div>