
<div class="row" id="top_section">	
	<div class="col-sm-6 col-sm-offset-3" id="questionDiv" style="text-align: center;">
			<h3 style="color:orange">Result</h3>
			<h4>You solved <strong><%=@num_correct%>/10 </strong> correctly</h4>
			<br><br>
			<h3 style="color:orange">Share your results on Facebook</h3>
			<a id = "share" type="button" class="btn btn-danger" role="button">Restart Test</a>
			<br><br>
			<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpraxeng&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:290px;" allowTransparency="true"></iframe>
	</div>

</div>

<script>
document.getElementById('share').onclick = function() {
	FB.ui({
	  method: 'share',
		href: 'www.praxeng.com'
	  message: 'I just scored <%=@num_correct%>/10 on PraxEng',
		user_prompt_message: 'PraxEng is really good!'
	}, function(response){});
}
</script>