<div class="row" id="top_section">
	<div class="col-sm-6">
		<h3>Practice English Comprehension</h3>
	</div>
	<div class="col-sm-6">
		
	</div>
</div>

<div class="row" id="middle_section">
	<div class=jumbotron>
		<h2>What is PraxEng ?</h2>
		<p>PraxEng is a <strong>free</strong> website to practice English comprehension. To learn how we do it <a href="/main/about">click here</a>.</p>
	</div>
	<div class="col-md-10 col-md-offset-1">
	  <div class="col-md-4">
	    <div class="thumbnail">
	      <img src="/assets/images/practice.jpg" alt="...">
	      <div class="caption">
	        <h3 class="heading">PRACTICE ENGLISH</h3>
	        <p>Practice quality questions and improve your English comprehension skills.</p>
	      </div>
	    </div>
	  </div>
	
	  <!-- <div class="col-md-4">
	    <div class="thumbnail">
	      <img src="/assets/images/noads.png" alt="...">
	      <div class="caption">
	        <h3 class="heading">No fees</h3>
	        <p>No login required, no ads and no gimmicks. Its a free service just for fun.</p>
	      </div>
	    </div>
	  </div> -->
	
	  <div class="col-md-4">
	    <div class="thumbnail">
	      <img src= "/assets/images/learn-facts.png">
	      <div class="caption">
	        <h3 class="heading">LEARN</h3>
	        <p>Practice on interesting news stories and learn new things.</p>
	      </div>
	    </div>
	  </div>
	
	  <div class="col-md-4">
	    <div class="thumbnail">
	      <img src="/assets/images/game.png" alt="...">
	      <div class="caption">
	        <h3 class="heading">LEARN WITH OTHERS</h3>
	        <p>Compare yourself against your friends and other people all around the world.</p>
	      </div>
	    </div>
		</div>
	</div>
</div>
