<div class="row">
	<div class = "jumbotron" >
		<h1>How good is your memory?</h1>
		<h1><small>Compare yourself with others!</small></h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
     <div class="caption">
       <h3 class="heading">How good are your memory and comprehension skills? Take our quick test and find out where you stand among your friends and hundreds of people like you.</h3><br>
			 <p><a href="/main/task2" class="btn btn-default">I am ready <span class="glyphicon glyphicon-arrow-right"></span></a></p>
		</div>
	</div>
</div>