<div class="panel-heading">
	<h1 class="panel-title light gray">Task Completed</h1>
</div>
<div class="panel-body">
	<p>You completed <%= @question_num - 1%> questions.</p>

	<p>Your confirmation code: <br><br> <span class="well orange"><%=@complete_code%></span></p>
</div>