// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color:#038c8c;

.btn-toolbar-vertical{
	margin-bottom: 10px;
}

.jumbotron{
	//padding-bottom: 0;
}

#top_section{
	color: white;
	background-color: $primary-color;
	height: 500px;
}

#instruction{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

#top_section h1, #top_section h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

#middle_section{
//	height: 600px;
}

.jumbotron{
	text-align: center;
	background-color:rgba(0,0,0,0);
}

#middle_section h2, #about h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: orange;
}

.modal{
	text-align: left;
}

.thumbnail{
	text-align: center;
	background-color: white;
	border: none;
}

.thumbnail img { 
	min-height:50px; 
	height:90px; 
}

.caption p{
	font-size: 14px;
}

#sentence{
	font-family: 'Droid Serif', serif;
}

.heading{
	font-size: 15px;
	font-weight: 700;
}

.progress {
    position: relative;
}

.lbl {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }
 
.btn-toolbar{
	 margin-top: 2em;
}

#arg1{
	color: red;
}

#arg2{
	color: blue;
}