// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color:#038c8c;

.btn-toolbar-vertical{
	margin-bottom: 10px;
}

.jumbotron{
		margin-bottom: 0;
}

.jumbotron h2{
	text-align: center;
//	padding-bottom: 0;
}

#top_section{
	color: $primary-color;
	background-color: #C8E8E4;
//	height: 600px;
//	padding: 20px;
//margin: 0px;
	text-align: center;
}

#instruction{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

#top_section h1, #top_section h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.btn-toolbar-vertical{
//	border: solid;
	padding: 10px;
}

#middle_section{
	margin-top: 20px;
	background-color: lighten(#000, 93.5%);
	text-align: center;
//	height: 600px;
}

.jumbotron{
	//text-align: center;
	background-color:rgba(0,0,0,0);
}

#middle_section h2, #about h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: orange;
}

.modal{
	text-align: left;
}

.thumbnail{
	background-color: lighten(#000, 93.5%);
	text-align: center;
//	background-color: white;
	border: none;
}

#blank{
	color: rgba(0,0,0,0);
}

.thumbnail img { 
	min-height:50px; 
	height:90px; 
}

.caption p{
	font-size: 14px;
}

#question{
	padding: 16px;
	background-color: #f1f1f1;
	font-family: 'Roboto Slab', serif;
}

.heading{
	font-size: 15px;
	font-weight: 700;
}

.progress {
    position: relative;
}

.lbl {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }
 
.btn-toolbar{
	 margin-top: 2em;
}

#arg1{
	color: red;
}

#arg2{
	color: blue;
}
#notif_row{
	margin-top: 5px;
//	border: solid;
}

#notif{
	text-align: center;
//	border: 1px solid;
	padding: 2px;
	//background-color: #C8E8E4;
	margin-top: 0px;
	margin-bottom: 0px;
}

.table{
	text-align: center;
}

#fbModal{
	text-align: center;
}

#fbModal h4{
	color: $primary-color;
}