// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #428bca;

.jumbotron{
	text-align: center;
	background-color:rgba(255,0,0,0);
//	border: solid;
//	padding-top: 10px;
}

.jumbotron h1{
	font-family: 'Pacifico', cursive;
	color: $primary-color;
}

.thumbnail{
	text-align: center;
	background-color: white;
	border: none;
}

.thumbnail img { 
	min-height:50px; 
	height:90px; 
}

.caption p{
	font-size: 14px;
}

.heading{
	font-size: 20px;
	color: $primary-color;
}

.progress {
    position: relative;
}

@media screen and (max-width: 568px) {
    #option {
        font-size: 11px;
    }
		#sentence{
			font-size: 1em;
		}
		.heading{
			font-size: 18px;
		}
		.caption p{
			font-size: 12px;
		}
		.thumbnail img { 
			min-height:50px; 
			height:60px; 
		}
		#uw{
			height: 14px;
		}
		.jumbotron p{
			font-size: 14px;
		}
}

.lbl {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }
 
.btn-toolbar{
	 margin-top: 2em;
}