// Place all the styles related to the memorytest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #009966;

.jumbotron h1{
	font-family: 'Pacifico', cursive;
	//color: $primary-color;
}

.caption{
	text-align: center;
}